{
  "packages": [
    "hele-mjml-components/hele-button",
    "hele-mjml-components/hele-footer",
    "hele-mjml-components/hele-heading",
    "hele-mjml-components/hele-logo",
    "hele-mjml-components/hele-offer",
    "hele-mjml-components/hele-subheading",
    "hele-mjml-components/hele-text"
  ]
}
